body{
	background-color: #000;
	color: #fff;
}
input{
	width: 100%;
	border:none;
	padding: 5px;
	background:none;
	border-bottom: solid 1px red;
	color: #fff;
	text-shadow: 5px 5px 2px #333;
}
.btn{
	background-color: darkgreen;
	border: 2px #fff solid;
}
h1{
	text-shadow: 10px 10px 10px red;
}